{% load staticfiles %}
<head>
	<script src={% static "proyecto/js/jquery-1.9.1.min.js" %} type="text/javascript">
	</script>
	<script src="{% static "proyecto/js/bootstrap.js" %}" type="text/javascript">
	</script>
	<script src="{% static "proyecto/js/funciones.js" %}" type="text/javascript">
	</script>
	<link href="{% static "proyecto/css/bootstrap.min.css" %} " rel="stylesheet" media="screen" />
</head>
<h1 class="text-center">
	{{ bienvenido }}
</h1><br/><br/><br/><br/>
{% block cuerpo %}
<div class="show-grid">
	<center>
		<form method="GET" action="/proyecto/registro">
			<button class="btn btn-primary btn-large text-center" type="submit">Registrar ciudad</button><br/><br/>
			<button class="btn btn-success btn-large text-center" type="submit">Consultar</button><br/><br/>
			<button class="btn btn-warning btn-large text-center" type="submit">Eliminar</button><br/><br/>
		</form>
	</center>
</div>
{% endblock %}
